
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
/* main{
    opacity: 0.4;
} */


  a{
    /* text-decoration: none; */
    /* cursor: not-allowed; */
    /* cursor: pointer; */
    color:hsl(22, 86%, 37%);
    font-size:xx-large;


}
a:link {
  color: red;
}

/* a link the user has visited */
a:visited{
  color: rgb(94, 148, 8);
}

a:hover{
  color: rgb(14, 30, 22);
}

/* a link the moment it is clicked */
a:active {
    color:blue;
}
/* a:hover a:focus{
  color: hsl(30, 86%, 37%, 09);
  opacity: 0.8;
   background: rgb(255, 0, 255);
} */



/* NOTE : 1. a:active MUST come after a:hover
          2. a:hover MUST come after a:visited and a:link


*/