
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
body{
  padding: 5% 10%;
  font-size: 1.5rem;
  font-family: "Roboto",sans-serif;
}
ol{

  /* list-style-type: lower-alpha; */
   /* list-style: decimal;                       Defalt */
   /* list-style-type: decimal-leading-zero;              */
  /* list-style-type: disc; */
  /* list-style-type: circle; */
  /* list-style-type: lower-roman; */

  /* list-style: none ; */
  /* padding: 0; */
}

ul{
  /* list-style-type: square; */
  text-align:;
  list-style-position: ;
  /* list-style-position: inside; */
  color: rgb(17, 32, 17);
  /* line-height: 1.8; */
  /* list-style-image :url("images/9004773_tick_check_mark_accept_icon.png"); */
  /* list-style: square url("images/circle_check_mark.jpg"); */
  list-style-image: linear-gradient(to right bottom, red, blue);
}

ul li:nth-child(odd){
  color: aqua ;
}
ul ::marker{
  font-size: 2em;
  font-family: fantasy;
  /* content: "only $5 >> "; */
}
 